<nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/user/:id/thongtinuser">FPT Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Danh mục
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/dienthoai">Điện Thoại</a>
          <a class="dropdown-item" href="/labtop">LapTop</a>
            <a class="dropdown-item" href="#">Âm thanh</a>
          <a class="dropdown-item" href="#">Ti Vi</a>
        </div>
      </li>

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Đơn Hàng
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product">products</a>
           <a class="dropdown-item" href="/sanpham/mysp">My products</a>
          
          
        </div>
      </li>
      
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/login/dangnhap">Login</a>
      </li> --}}
      
     
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Bạn cần tìm gì?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
 

 


 <a href="/dangnhap" style="display: flex; justify-content: center; align-items: center; width: 150px; height: 30px; padding: 5px; border-radius: 20px; margin-left: 5px;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <img src="dangnhap.png" alt="Avatar" width="25" height="20" style="margin-bottom: 5px;">
    <div style="text-align: center; font-size: 15px; margin-top: 2px;">Đăng nhậpp</div>
  </div>
</a>




</nav>